.center-box{
    border: 1px solid rgba(218, 218, 218, 0.922);
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 500px;
}
.headers{
    margin-bottom: -60px
}

.nile-logo {
    width: 231px;
    height: 51px;
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.enter-box {
    border: 1px solid gray;
    width: 500px;
    margin: auto;
}

.continue {
    border: 1px solid black;
    background-color: #00A2E8;
    margin:auto;
    width: 500px;
    text-align: center;
    margin-top: 20px;
}

.bottom-text {
    text-align: center;
}

.create {
    text-align: center;
    border: 1px solid rgb(159, 159, 159);
    background-color: rgb(237, 237, 237);
    width: 625px;
    margin: auto;
}

